.Votes {
  display: flex;
  justify-content: top;
  flex-direction: column;
  flex-wrap: wrap;
}

.Votes .h2 {
  font-family: "Caveat";
}

.Votes .rectangle {
  border: 2px solid black;
  background-color: white;
}

.Votes .flavorButtons {
  display: flex;
}
